APP_NAME="Convert PHP SDK Demo"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8080

LOG_CHANNEL=stderr
LOG_LEVEL=debug

SESSION_DRIVER=file
SESSION_LIFETIME=120

CACHE_STORE=file

# Convert SDK Configuration
CONVERT_SDK_KEY=10035569/10034190
CONVERT_ENVIRONMENT=staging
CONVERT_EXPERIENCE_KEY=test-experience-ab-fullstack-1
CONVERT_FEATURE_ROLLOUT_KEY=test-experience-ab-fullstack-4
CONVERT_FEATURE_KEY_PRICING=feature-5
CONVERT_FEATURE_KEY_STATS=feature-4
CONVERT_GOAL_KEY=button-primary-click
CONVERT_SEGMENT_KEY=test-segment-1
